.bg-image{
    background: url('../images/water.png');
    width: 100%;
    background-size: cover;
    background-repeat: round;
    height: 300px;
}
.nav-pills .nav-link.active{
    color: black;
    background-color: white !important;
    border-bottom: 4px solid #EB0028;
    border-radius: 0;
    color: #EB0028;
}
.nav-pills .nav-link{
    color: gray
}
.is-clickable{
    cursor: pointer;
}